[submodule "lakeroad-private"]
	path = lakeroad-private
	url = git@github.com:uwsampl/lakeroad-private
[submodule "bitwuzla"]
	path = bitwuzla
	url = git@github.com:bitwuzla/bitwuzla.git
[submodule "lakeroad-egglog/yosys"]
	path = lakeroad-egglog/yosys
	url = git@github.com:uwsampl/yosys
[submodule "rosette"]
	path = rosette
	url = git@github.com:gussmith23/rosette
