[submodule "lakeroad-private"]
	path = lakeroad-private
	url = git@github.com:uwsampl/lakeroad-private
[submodule "lakeroad-egglog/yosys"]
	path = lakeroad-egglog/yosys
	url = git@github.com:uwsampl/yosys
